body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.container {
    text-align: center;
}
 img{
    height: 100%;
    width: 100%;
 }

#search-form {
    margin-top: 20px;

}

#search-box {
    width: 100%;
    padding: 30px;
    font-size: 24px;
    border: 1px solid #53555a;
    border-radius: 24px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #898e93;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #afbbc1;
}
